/*--About Me Initial---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.about-me-info-holder{
    justify-content:flex-start;
    align-items:center;
    display:flex;

    padding:2vw;
    height:40%;
    width:80%;
}
.about-me-image{
    background-image:url("../assets/icons/default user.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;

    border:1px solid var(--border-gray-1);
    border-radius:100%;
    aspect-ratio:1;
    flex-shrink:0;
    width:12vw;
}
#edit-info{
    position:absolute;
    right:1vw;
    top:1vw;
}

/*--About Me Info------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.about-me-info{
    color:var(--dark-blue);
    margin-left:2vw;
    height:100%;
    width:100%;
}
.about-me-title{
    font-weight:bold;
    font-size:1.75vw;
}
.about-me-name{
    font-weight:bold;
    margin-top:0.5vw;
    font-size:1.5vw;
    width:100%;
}
.about-me-email{
    font-weight:bold;
    margin-bottom:0.5vw;
    font-size:1.15vw;
    width:100%;
}
.about-me-info-row{
    justify-content:flex-start;
    align-items:center;
    display:flex;

    height:1.5vw;
    width:100%;
}
.about-me-info-title{
    justify-content:flex-start;
    align-items:center;
    display:flex;

    flex-shrink:0;
    width:6vw;
}
.about-me-info-value{
    justify-content:flex-start;
    align-items:center;
    display:flex;

    width:100%;
}

/*--About Me Bottom----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.about-me-button-holder{
    justify-content:flex-start;
    align-items:center;
    display:flex;

    margin-bottom:2vw;
    margin-left:2vw;
    margin-top:1vw;
}
.about-me-button-holder > *{
    margin-right:0.5vw;
}
.about-me-button{
    background-color:var(--accent-blue-1);
    color:var(--background-white);
    font-weight:bold;
    user-select:none;
    border:none;
    height:2vw;
    width:10vw;
}
.about-me-share{
    background-image:url("../assets/icons/share.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:contain;
    user-select:none;
    cursor:pointer;

    transition:ease-in-out 0.1s;
    aspect-ratio:1;
    width:2vw;
}
.about-me-share:hover{
    transform:scale(1.1);
}
.about-me-share:active{
    transform:scale(1);
}
.about-me-desc{
    color:var(--dark-blue);
    width:calc(100% - 4vw);
    margin-left:2vw;
}

/*--About Me Edit------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.about-me-edit-window{
    box-shadow:0.25vw 0.25vw 0.5vw rgba(0, 0, 0, 0.15);
    background-color:var(--background-white);
    border:1px solid var(--border-gray-1);
    border-radius:var(--border-radius-2);
    transform:translate(-50%);
    color:var(--dark-blue);
    position:absolute;
    padding:1vw;
    width:50vw;
    left:50%;
    top:5vh;
}
.about-me-edit-window-head{
    justify-content:flex-start;
    align-items:flex-start;
    font-weight:bold;
    display:flex;

    font-size:1.5vw;
    height:3vw;
    width:100%;
}
.about-me-edit-window-body{
    height:fit-content;
    margin-bottom:3vw;
    width:100%;
}
.edit-window-row-label{
    font-weight:bold;
}
.about-me-edit-window-foot{
    justify-content:space-evenly;
    align-items:center;
    display:flex;

    transform:translate(-50%);
    margin-left:50%;
    height:2vw;
    width:50%;
}

.edit-window-icon{
    border:1px solid var(--border-gray-1);
    border-radius:100%;
    position:absolute;
    aspect-ratio:1;
    right:2.5vw;
    width:15vw;
    top:5vw;

    transition:ease-in-out 0.1s;
    background-image:url("../assets/icons/default user.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    overflow:hidden;
    cursor:pointer;
}
.edit-window-icon:hover > *{
    display:block;
}
.edit-window-icon-mask{
    background-image:linear-gradient(to bottom, rgb(0,0,0,0) 1%, rgb(0,0,0,1));
    position:absolute;
    display:none;
    height:50%;
    width:100%;
    left:0px;
    top:50%;
}
.edit-window-icon-picture-icon{
    background-image:url("../assets/icons/image.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:contain;
    position:absolute;

    transform:translate(-50%, -50%);
    aspect-ratio:1;
    height:2vw;
    left:50%;
    top:60%;
}
#input-icon{
    position:absolute;
    height:0px;
    opacity:0;
    top:0px;
}

.edit-window-form{
    height:fit-content;
    width:60%;
}
.edit-window-row{
    margin-bottom:1vw;
    width:100%;
}
.edit-window-input{
    width:100%;
}
.edit-window-textarea{
    background-color:var(--background-gray-1);
    border:1px solid var(--border-gray-1);
    border-radius:var(--border-radius-1);

    color:var(--dark-blue);
    font-family:"Inter";
    font-size:1vw;

    resize:none;
    height:10vw;
    width:100%;
}