/*--Dashboard Account--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.dashboard-account-display{
    box-shadow:0.25vw 0.25vw 0.5vw rgba(0, 0, 0, 0.15);
    background-color:var(--background-white);
    border:1px solid var(--border-gray-1);
    border-radius:var(--border-radius-2);
    aspect-ratio:0.66;
    position:absolute;
    width:25vw;
    left:2vw;
    top:2vw;
}
.dashboard-account-image{
    background-image:url("../assets/icons/default user.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;

    background-color:rgb(217, 220, 225);
    border:1px solid var(--border-gray-1);
    margin-left:2.5vw;
    margin-top:2.5vw;
    aspect-ratio:1;
    width:20vw;
}
.dashboard-account-name{
    color:var(--dark-blue);
    margin-left:16%;
    margin-top:1vw;
    font-size:1.5vw;
    height:2vw;
    width:68%;

    justify-content:center;
    align-items:center;
    font-weight:bold;
    display:flex;
}
.dashboard-account-email{
    color:var(--dark-blue);
    font-size:1.2vw;
    height:2vw;
    width:100%;

    justify-content:center;
    align-items:center;
    font-weight:bold;
    display:flex;
}
.dashboard-account-desc{
    width:calc(100% - 2vw);
    color:var(--dark-blue);
    text-align:center;
    font-size:1vw;
    padding:1vw;
}
.dashboard-account-share{
    background-image:url("../assets/icons/share.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:contain;
    position:absolute;
    user-select:none;
    cursor:pointer;

    transition:ease-in-out 0.1s;
    aspect-ratio:1;
    width:2vw;
    right:2vw;
    top:23.5vw;
}
.dashboard-account-share:hover{
    transform:scale(1.1);
}
.dashboard-account-share:active{
    transform:scale(1);
}

/*--Dashboard Right Side-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.dashboard-right-side{
    position:absolute;
    height:90%;
    width:65vw;
    right:2vw;
    top:2vw;
}
.dashboard-title{
    justify-content:flex-start;
    align-items:center;
    font-weight:bold;
    display:flex;

    color:var(--dark-blue);
    font-size:1.75vw;
    width:100%;
}
.dashboard-holder{
    color:var(--gray-1);
    margin-bottom:2vw;
    font-size:1.25vw;
    margin-top:1vw;
    min-height:5vw;
    width:100%;

    justify-content:flex-start;
    align-items:flex-start;
    flex-wrap:wrap;
    display:flex;
}

.dashboatd-event{
    box-shadow:0.25vw 0.25vw 0.5vw rgba(0, 0, 0, 0.15);
    background-color:var(--background-white);
    border:1px solid var(--border-gray-1);
    border-radius:var(--border-radius-2);
    margin-bottom:1vw;
    margin-right:1vw;
    user-select:none;
    cursor:pointer;
    height:6vw;
    width:20vw;
    transition:ease-in-out 0.1s;
}
.dashboatd-event:hover{
    transform:scale(1.025);
}
.dashboatd-event:active{
    transform:scale(1);
}
.dashboatd-event-name{
    color:var(--dark-blue);
    width:calc(100% - 2vw);
    padding-right:1vw;
    padding-left:1vw;
    height:50%;

    justify-content:flex-start;
    align-items:center;
    font-weight:bold;
    display:flex;
}
.dashboatd-event-date{
    width:calc(100% - 2vw);
    padding-right:1vw;
    padding-left:1vw;
    font-size:1vw;
    height:50%;

    justify-content:flex-start;
    align-items:center;
    display:flex;
}